// globals.scss
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/scrollbar' as *;

html {
  @include scrollbar;
}

body {
  font-family: $font-family;
  line-height: 1.6;
  color: $primary-color;
  background-color: black;
  transition: opacity 400ms ease-in-out;

  &.loaded {
    visibility: visible;
    opacity: 1;
  }
}

main {
  padding: 30px 20px 121px;
}
