// card-art-work.scss
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container-image-prose {
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid gray;
  transition: border-color 250ms ease-in-out;

  &:hover {
    border-color: cyan;
  }
}

.portfolio-img {
  margin: 0;
}
